<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.yak.ops.business.workflow.dao.mapper.WorkflowVersionMapper">

  <select id="selectByIdAndProject"
          resultType="io.yak.ops.common.bean.po.workflow.WorkflowVersionPO">
    SELECT v.*
    FROM yak_workflow_version v
    JOIN yak_workflow_definition d ON d.id = v.workflow_id
    WHERE v.id = #{id}
      AND d.project_id = #{projectId}
    LIMIT 1
  </select>

  <update id="initializeEngineDefinition">
    UPDATE yak_workflow_version v
    JOIN yak_workflow_definition d ON d.id = v.workflow_id
    SET v.engine_definition_json = #{engineDefinitionJson}
    WHERE v.id = #{id}
      AND d.project_id = #{projectId}
      AND v.engine_definition_json IS NULL
  </update>

  <update id="initializeRuntimeMetadata">
    UPDATE yak_workflow_version v
    JOIN yak_workflow_definition d ON d.id = v.workflow_id
    SET v.runtime_metadata_json = #{runtimeMetadataJson}
    WHERE v.id = #{id}
      AND d.project_id = #{projectId}
      AND v.runtime_metadata_json IS NULL
  </update>
</mapper>
