<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.yak.ops.business.development.dao.mapper.SqlTaskMapper">
    <select id="selectForUpdate" resultType="io.yak.ops.common.bean.po.development.SqlTaskPO">
        SELECT id,
               name,
               description,
               project_id,
               directory_id,
               data_source_id,
               sql_text,
               parameter_json,
               draft_revision,
               published_version_id,
               latest_version_no,
               deleted,
               create_time,
               update_time
        FROM yak_dev_sql_task
        WHERE id = #{id}
          AND deleted = 0
        FOR UPDATE
    </select>
</mapper>
